* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: darkslategray;
}

.rounded {
  border-radius: 4px;
}

.align-center {
  text-align: center;
}

.racecar {
  width: 10rem;
  transition: transform 0.25s;
  position: absolute;
}

.left {
  transform: rotate(180deg);
}

.right {
  transform: rotate(0);
}

.up {
  transform: rotate(270deg);
}

.down {
  transform: rotate(90deg);
}

.choice-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.75);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt-box {
  width: 600px;
  height: 400px;
  background-color: white;
}

.vehicles {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}

.choice {
  width: 30%;
  object-fit: scale-down;
}

.choice:hover {
  border: 3px solid black;
}
